{% extends 'baseFront.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <section id="breadcrumb" class="breadcrumb-section position-relative"
             data-background="{{ asset('assets/uploads/2021/12/banner.jpg') }}"
             style="background-image: url('{{ asset('assets/uploads/2021/12/banner.jpg') }}');">
        <span class="breadcrumb-overlay position-absolute"></span>
        <div class="container">
            <div class="breadcrumb-content text-center headline">
                <h2>Login</h2>
                <div class="breadcrumb-item ul-li">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>


                        <li class="breadcrumb-item active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="signup-area">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="sign-wrapper white-bg">
                        <div class="sign-form">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                                <div class="sign-input-wrapper">
                                    <label for="inputEmail">Email</label>
                                    <div class="sign-input">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                               class="form-control" autocomplete="email" required autofocus>
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="sign-input-wrapper">
                                    <label for="inputPassword">Password</label>
                                    <div class="sign-input">
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                               autocomplete="current-password" required>
                                        <i class="fa fa-clone"></i>
                                    </div>
                                </div>




                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >


                                <button class="signup-btn w-100" name="login_form" type="submit">
                                    Sign in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
