{% extends 'baseFront.html.twig' %}


{% block body %}


    <div id="tours_widget-7" class="widget widget_tours_widget">


        <!-- Start of Tour section
    ============================================= -->
        <section id="tour" class="activity-section">
            <div class="container">
                <div class="activity-top">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title headline">
                                <span>Activities</span>
                                <h2>
                                    Take a look at the most preferred travels by activity types. </h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="activity-title-text">
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo
                                    rincididunt ut labore et dolore magna aliqua. Quis suspendisse onsectetur
                                    adipiscing.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-filter-content">
                    <div class="button-group activity-filter-buttons text-center clearfix">
                        <button class="filter-button is-checked" data-filter="*">All activities </button>
                        <button class="filter-button" data-filter=".adventure-tours">Adventure Tours</button>
                        <button class="filter-button" data-filter=".guided-tours">Guided Tours</button>
                        <button class="filter-button" data-filter=".sightseeing-tours">Sightseeing Tours</button>
                    </div>
                    <div class="activity-filter-area grid clearfix"
                        data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
                        <div class="grid-sizer"></div>
                        <div class="grid-item grid-size-25 guided-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 90</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity24.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="London Private Tour">London Private Tour</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                3 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">London</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-user"></i></div>Live Guide
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-2-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Fred
                                                    Mercury</a></h4>
                                            <span>Demo Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 guided-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 90</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity23.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Paris Live Guided Tour">Paris Live Guided Tour</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                4 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">Paris</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-running"></i></div>Skip Line
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-4-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Anita
                                                    May</a></h4>
                                            <span>Example Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 guided-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 60</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity22.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Amsterdam: Walking Tour">Amsterdam: Walking Tour</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                2 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a
                                                    href="#">Amsterdam</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-user"></i></div>Live Guide
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-running"></i></div>Skip Line
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-7-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Melinda
                                                    Joe</a></h4>
                                            <span>Demo Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 guided-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 120</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity25.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Dubai Private Tour">Dubai Private Tour</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                2 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">Dubai</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-car"></i></div>Pick-up
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-11-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Anna
                                                    Truly</a></h4>
                                            <span>Example Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 sightseeing-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 40</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity38.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Venice City Tour">Venice City Tour</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                6 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">Venice</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-car"></i></div>Pick-up
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-running"></i></div>Skip Line
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-5-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Robert
                                                    Rich</a></h4>
                                            <span>Demo Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 adventure-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 80</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity37.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Doge Palace Ticket">Doge Palace Ticket</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                2 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">Venice</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-running"></i></div>Skip Line
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-5-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Robert
                                                    Rich</a></h4>
                                            <span>Demo Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 sightseeing-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 40</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity35.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Statue of Liberty Ferry">Statue of Liberty Ferry</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                2 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">New
                                                    York</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-car"></i></div>Pick-up
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-3-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Brian
                                                    Mullen</a></h4>
                                            <span>Demo Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item grid-size-25 sightseeing-tours">




                            <div class="activity-card">
                                <div class="activity-img position-relative">
                                    <span class="price-badge">$ 60</span>
                                    <img width="420" height="280"
                                        src="{{asset('assets/uploads/2021/12/activity34.jpg')}}" class=" wp-post-image"
                                        alt="" loading="lazy" /> <span class="activity-hover-icon"><a href="#"><i
                                                class="fas fa-heart"></i></a></span>
                                </div>
                                <div class="activity-text">
                                    <div class="activity-tilte-head headline ul-li">
                                        <h3><a href="#" title="Venice: Gondola Ride">Venice: Gondola Ride</a></h3>
                                        <div class="activity-features">
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-clock"></i></div>


                                                2 hours

                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-map"></i></div><a href="#">Venice</a>
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-credit-card"></i></div>Easy Cancel
                                            </div>
                                            <div class="icon-text">
                                                <div class="icon"><i class="fas fa-running"></i></div>Skip Line
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-agent clearfix">
                                        <div class="activity-agent-img float-left">
                                            <img width="150" height="150"
                                                src="{{asset('assets/uploads/2021/12/agent-4-150x150.jpg')}}"
                                                class="author-img wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="activity-agent-text">
                                            <h4><a href="#">Anita
                                                    May</a></h4>
                                            <span>Example Travel Inc</span>
                                        </div>
                                        <div class="activity-btn float-right">
                                            <a href="#"><i class="fas fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="activity-more-btn text-center">
                        <a href="#">More Activities<i class="fas fa-sync-alt"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Tour section
    ============================================= -->


    </div>


    <div id="cta_widget-2" class="widget widget_cta_widget">

        <section id="cta" class="cta-section position-relative">
            <div class="container">
                <div class="cta-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cta-section-left">
                                <div class="section-title headline">
                                    <h2>Sign Up Today and Don&#039;t Miss Opportunities</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cta-section-right headline pera-content">
                                <p>
                                    Eu volutpat odio facilisis mauris sit amet massa. Pellentesque habitant morbi
                                    tristique senectus et netus et malesuada. Duis ut diam quam nulla porttitor massa id
                                    neque. Egestas dui id ornare arcu odio ut sem. </p>
                                <a href="#">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div id="articles_widget-3" class="widget widget_articles_widget">

        <section id="blog" class="blog-section">
            <div class="container">
                <div class="blog-content-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title headline">
                                <div class="col-12">
                                    <div class="section-header-left title">
                                        <h3 class="text-light-black header-title"> <span>Blog</span>
                                        </h3>
                                    </div>
                                </div>
                                <h2>
                                    You may learn more by our recent blog posting. </h2>
                            </div>
                        </div>
                    </div>
                    <div id="blog-slider" class="blog-slide-content owl-carousel">

                        <div class="blog-content">
                            <div class="blog-img text-center position-relative">
                                <img width="880" height="440" src="{{asset('assets/uploads/2021/12/blog-lrg-3.jpg')}}"
                                    class="attachment-large size-large wp-post-image" alt="" loading="lazy" />
                                <div class="blog-author">
                                    <div class="blog-author-img float-left">
                                        <img alt=''
                                            src='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=48&amp;d=mm&amp;r=g'
                                            srcset='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=96&#038;d=mm&#038;r=g 2x'
                                            class='avatar avatar-48 photo' height='48' width='48' loading='lazy' />
                                    </div>
                                    admin
                                </div>
                                <div class="blog-category">
                                    Activity </div>
                            </div>
                            <div class="blog-text headline pera-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="far fa-calendar-alt"></i> Dec 7</a>
                                    <a href="#"><i class="far fa-comments"></i> 0 comments </a>
                                </div>
                                <div class="blog-title">
                                    <h3>
                                        <a href="#">
                                            7 Activities in Venice </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor... </p>
                                </div>
                            </div>
                        </div>

                        <div class="blog-content">
                            <div class="blog-img text-center position-relative">
                                <img width="880" height="440" src="{{asset('assets/uploads/2021/12/blog-lrg-2.jpg')}}"
                                    class="attachment-large size-large wp-post-image" alt="" loading="lazy" />
                                <div class="blog-author">
                                    <div class="blog-author-img float-left">
                                        <img alt=''
                                            src='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=48&amp;d=mm&amp;r=g'
                                            srcset='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=96&#038;d=mm&#038;r=g 2x'
                                            class='avatar avatar-48 photo' height='48' width='48' loading='lazy' />
                                    </div>
                                    admin
                                </div>
                                <div class="blog-category">
                                    Culture </div>
                            </div>
                            <div class="blog-text headline pera-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="far fa-calendar-alt"></i> Dec 7</a>
                                    <a href="#"><i class="far fa-comments"></i> 0 comments </a>
                                </div>
                                <div class="blog-title">
                                    <h3>
                                        <a href="#">
                                            5 Things to Do in Venice </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor... </p>
                                </div>
                            </div>
                        </div>

                        <div class="blog-content">
                            <div class="blog-img text-center position-relative">
                                <img width="880" height="440" src="{{asset('assets/uploads/2021/12/blog-lrg-1.jpg')}}"
                                    class="attachment-large size-large wp-post-image" alt="" loading="lazy" />
                                <div class="blog-author">
                                    <div class="blog-author-img float-left">
                                        <img alt=''
                                            src='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=48&amp;d=mm&amp;r=g'
                                            srcset='http://1.gravatar.com/avatar/af8f966d8961c37e29603e8e4fbdd337?s=96&#038;d=mm&#038;r=g 2x'
                                            class='avatar avatar-48 photo' height='48' width='48' loading='lazy' />
                                    </div>
                                    admin
                                </div>
                                <div class="blog-category">
                                    Sightseeing </div>
                            </div>
                            <div class="blog-text headline pera-content">
                                <div class="blog-meta">
                                    <a href="#"><i class="far fa-calendar-alt"></i> Dec 7</a>
                                    <a href="#"><i class="far fa-comments"></i> 0 comments </a>
                                </div>
                                <div class="blog-title">
                                    <h3>
                                        <a href="#">
                                            Places to See in Venice </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor... </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>

{% endblock %}
