{% extends 'dashboard/index.html.twig' %}

{% block title %}Avis{% endblock %}

 {% block content %}
    <div class="navigation-background"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a style="padding: 10px 5px 10px 5px;" href="{{ path('app_dashboard') }}">
                    <i style="margin-right: 10px;" class="fa fa-user"></i>
                    <span style="display: contents;" class="menu-title" data-i18n="">Dashboard</span>
                </a>
            </li>
            <li class=" nav-item">
                <a style="padding: 10px 5px 10px 5px;" href="{{ path('app_home') }}">
                    <i style="margin-right: 10px;" class="fa fa-user"></i>
                    <span style="display: contents;" class="menu-title" data-i18n="">home</span>
                </a>
            </li>

            <li class=" nav-item">
                <a style="padding: 10px 5px 10px 5px;" href="{{ path('app_avis_index') }}">
                    <i style="margin-right: 10px;" class="fa fa-user"></i>
                    <span style="display: contents;" class="menu-title" data-i18n="">Avis</span>
                </a>
            </li>

              <li class=" nav-item">
                <a style="padding: 10px 5px 10px 5px;" href=" {{ path('app_reclamation_index') }}">
                    <i style="margin-right: 10px;" class="fa fa-user"></i>
                    <span style="display: contents;" class="menu-title" data-i18n="">Reclamation</span>
                </a>
            </li>



        </ul>
    </div>
</div>
{% endblock %}



{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ avi.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index') }}">Retour</a>

    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">Modifier</a>

    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
