{% extends 'baseBack.html.twig' %}


{% block body %}

    <div class="row match-height">
        <div class="col-12">
            <h5 class="card-title text-bold-700 my-2">Liste des utilisateurs</h5>
            <div class="card">
                <div class="card-content">
                    <div id="recent-projects" class="media-list position-relative">
                        <div class="table-responsive">
                            <table class="table table-padded table-xl mb-0" id="recent-project-table">
                                <thead>
                                <tr>
                                    <th class="border-top-0">Nom et Prenom</th>
                                    <th class="border-top-0">Date d'inscription</th>
                                    <th class="border-top-0">Contact</th>
                                    <th class="border-top-0">Role</th>

                                    <th class="border-top-0">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    {% set diff = currentDate.diff(user.updatedAt) %}
                                    <tr>
                                        <td class="text-truncate align-middle">
                                            <a href="#">
                                                <img style="width: 50px;height: 50px;border-radius: 7px;" src="{{ asset('images/utilisateurs/'~user.image) }}" alt="avatar">
                                                {{ user.prenomUser~" "~user.nomUser }}
                                            </a>
                                        </td>

                                        <td class="text-truncate pb-0">
                                            <span>{{ user.updatedAt|date }}</span>
                                            {% if diff.days == 0 %}
                                            <p class="font-small-2 text-muted"> Aujourd'hui</p>
                                            {% else %}
                                            <p class="font-small-2 text-muted"> {{ diff|date }}</p>
                                            {% endif %}

                                        </td>

                                        <td class="text-truncate pb-0">
                                            <span>{{ user.telUser}}</span>
                                            <p style="margin-bottom: 0;" class="font-small-2 text-muted">{{ user.email }}</p>
                                            <div class="d-flex">
                                                <i class="fa fa-map-marker"></i>&nbsp; <p class="font-small-2 text-muted">{{ user.adresseUser }}</p>
                                            </div>
                                        </td>

                                        <td class="text-truncate pb-0">
                                            <span>{{ user.roles[0]}}</span>
                                        </td>


                                            <td class="text-truncate pb-0">
                                                <a href="{{ path('admin_messages',{'friendId':user.id}) }}" class="btn btn-outline-primary">
                                                    <i class="fa fa-paper-plane"></i>
                                                </a>
                                                {% if app.user.id != user.id %}
                                                    {% if user.roles[0] == "ROLE_USER"  %}
                                                        <button onclick="GrantRoleAdmin({{ user.id }})" class="btn btn-primary">
                                                            Accorder l'acces
                                                        </button>
                                                    {% else %}
                                                        <button onclick="removeRoleAdmin({{ user.id }})" class="btn btn-primary">
                                                            Supprimer l'acces
                                                        </button>
                                                    {% endif %}



                                                {% endif %}


                                                </td>





                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}


    <script type="text/javascript">

        function GrantRoleAdmin(userId) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Grant access !'
            }).then((result) => {
                console.log(result)
                if (result.isConfirmed) {
                    window.location.href = "grantRoleAdmin/"+userId;
                }
            })
            //RoleModal
        }

        function removeRoleAdmin(userId){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove access !'
            }).then((result) => {
                console.log(result)
                if (result.isConfirmed) {
                    window.location.href = "removeRoleAdmin/"+userId;
                }
            })
        }
    </script>

{% endblock %}
