<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>

    <meta name='robots' content='max-image-preview:large' />
    <meta property="og:title" content="Home Page 2" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>


    <link rel='stylesheet' id='colorbox-css'
        href="{{asset('assets/plugins/wp-colorbox/example5/colorbox080f.css?ver=5.8.2')}}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='wp-block-library-css'
        href="{{asset('assets/css/dist/block-library/style.min080f.css?ver=5.8.2')}}" type='text/css' media='all' />
    <link rel='stylesheet' id='wc-blocks-vendors-style-css'
        href="{{asset('assets/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-vendors-style5c45.css?ver=6.3.3')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='wc-blocks-style-css'
        href="{{asset('assets/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-style5c45.css?ver=6.3.3')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='mapescape.css-css'
        href="{{asset('assets/plugins/traveltime/libraries/mapescape/css/mapescape8f31.css?ver=20160604')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
        href="{{asset('assets/plugins/contact-form-7/includes/css/styles5697.css?ver=5.5.3')}}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css'
        href="{{asset('assets/plugins/woocommerce/assets/css/woocommerce-layoutaf8e.css?ver=6.0.0')}}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css'
        href="{{asset('assets/plugins/woocommerce/assets/css/woocommerce-smallscreenaf8e.css?ver=6.0.0')}}"
        type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css'
        href="{{asset('assets/plugins/woocommerce/assets/css/woocommerceaf8e.css?ver=6.0.0')}}" type='text/css'
        media='all' />

    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>










    <link rel='stylesheet' id='gootravel-fonts-css'
        href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C700%2C700i%2C800%2C800i%7CPoppins%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CRubik%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&amp;subset=latin%2Clatin-ext'
        type='text/css' media='all' />


    <link rel='stylesheet' id='bootstrap-css' href="{{asset('assets/themes/gootravel/assets/css/bootstrap.min.css')}}"
        type='text/css' media='all' />

    <link rel='stylesheet' id='animate-css' href="{{asset('assets/themes/gootravel/assets/css/animate.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css'
        href="{{asset('assets/themes/gootravel/assets/css/jquery.fancybox.min.css')}}" type='text/css' media='all' />




    <link rel='stylesheet' id='mCustomScrollbar-css'
        href="{{asset('assets/themes/gootravel/assets/css/jquery.mCustomScrollbar.min.css')}}" type='text/css'
        media='all' />
    <link rel='stylesheet' id='odometer-css'
        href="{{asset('assets/themes/gootravel/assets/css/odometer-theme-default.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' id='owl.carousel-css' href="{{asset('assets/themes/gootravel/assets/css/owl.carousel.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='nice-select-css' href="{{asset('assets/themes/gootravel/assets/css/nice-select.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='dropzone-css' href="{{asset('assets/themes/gootravel/assets/css/dropzone.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='lightbox-css' href="{{asset('assets/themes/gootravel/assets/css/lightbox.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='daterangepicker-css'
        href="{{asset('assets/themes/gootravel/assets/css/daterangepicker.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' id='wp-style-css' href="{{asset('assets/themes/gootravel/style080f.css?ver=5.8.2')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='gootravel-style-css' href="{{asset('assets/themes/gootravel/assets/css/style.css')}}"
        type='text/css' media='all' />
    <link rel='stylesheet' id='gootravel-responsive-css'
        href="{{asset('assets/themes/gootravel/assets/css/responsive.css')}}" type='text/css' media='all' />
    <link rel='stylesheet' id='cmb2-css' href="{{asset('assets/themes/gootravel/assets/css/cmb2.css')}}" type='text/css'
        media='all' />
    <script type='text/javascript' src="{{asset('assets/js/jquery/jquery.minaf6c.js?ver=3.6.0')}}"
        id='jquery-core-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/jquery/jquery-migrate.mind617.js?ver=3.3.2')}}"
        id='jquery-migrate-js'></script>

    <script type='text/javascript'
        src="{{asset('assets/plugins/traveltime/assets/js/ajax-auth-script080f.js?ver=5.8.2')}}"
        id='ajax-auth-script-js'></script>
    <script type='text/javascript' src="{{asset('assets/plugins/wp-colorbox/jquery.colorbox-min8daf.js?ver=1.1.4')}}"
        id='colorbox-js'></script>
    <script type='text/javascript' src="{{asset('assets/plugins/wp-colorbox/wp-colorbox8daf.js?ver=1.1.4')}}"
        id='wp-colorbox-js'></script>

    <script type='text/javascript'
        src="{{asset('assets/plugins/traveltime/libraries/jquery.chained.remote.custom.min080f.js?ver=5.8.2')}}"
        id='jquery-chained-remote-js'></script>


    <meta name="generator" content="WordPress 5.8.2" />
    <meta name="generator" content="WooCommerce 6.0.0" />

    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>






    {% block stylesheets %}

    {% endblock %}


</head>

<body>

    <header id="header" class="header-main">
        <div class="header-top clearfix">
            <div class="container">
                <div class="brand-logo float-left">
                    <a href="#"><img src="{{asset('assets/uploads/2021/12/logo1.png')}}" alt="Home"></a>
                </div>
                <div class="header-top-cta float-right clearfix ul-li">
                    <ul>
                        <li>
                            <div class="header-top-content">
                                <div class="top-content-icon float-left">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="top-content-text float-right headline">
                                    <a href="#">info@example.com</a>
                                    <h3>Mail us</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="header-top-content">
                                <div class="top-content-icon float-left">
                                    <i class="flaticon-phone"></i>
                                </div>
                                <div class="top-content-text float-right headline">
                                    <a href="#">Call For Help:</a>
                                    <h3>(123) 456 789</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="header-top-content">
                                <div class="top-content-icon float-left">
                                    <i class="flaticon-clock-1"></i>
                                </div>
                                <div class="top-content-text float-right headline">
                                    <a href="#">Sunday - Friday:</a>
                                    <h3>8am - 5pm</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="header-top-content">
                                <div class="top-content-icon float-left">
                                    <i class="flaticon-map-marker"></i>
                                </div>
                                <div class="top-content-text float-right headline">
                                    <a href="#">56th Ave, Queens, NY</a>
                                    <h3>USA</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu-navbar">
                    <div class="mobile-menu position-relative">
                        <div class="mobile-menu-button nav-mobile-menu">
                            <i class="fas fa-bars"></i>
                        </div>
                        <div class="mobile-menu-navbar">
                            <div class="mobile-menu-overlay nav-mobile-menu"></div>
                            <div class="mobile-menu-content">
                                <div class="close-mobile-menu nav-mobile-menu">
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="m-brand-logo text-center">
                                    <a href="#"><img src="{{asset('assets/uploads/2022/02/logo3.png')}}" alt="Home"></a>
                                </div>
                                <nav class="mobile-main-nav  clearfix ul-li">
                                    <ul id="primary-menu" class="navbar-nav text-capitalize clearfix">
                                        <li id="menu-item-207"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-207 submenu dropdown">
                                            <a title="Home" href="#" data-toggle="dropdown" aria-haspopup="true">Home
                                                <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-213"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-213">
                                                    <a title="Home Page 1" href="#">Home Page
                                                        1</a>
                                                </li>
                                                <li id="menu-item-214"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-142 current_page_item menu-item-214 active">
                                                    <a title="Home Page 2" href="index.html">Home Page 2</a>
                                                </li>
                                                <li id="menu-item-215"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215">
                                                    <a title="Home Page 3" href="#">Home
                                                        Page 3</a>
                                                </li>
                                                <li id="menu-item-216"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216">
                                                    <a title="Home Page 4" href="#">Home
                                                        Page 4</a>
                                                </li>
                                                <li id="menu-item-217"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217">
                                                    <a title="Home Page 5" href="#">Home
                                                        Page 5</a>
                                                </li>
                                                <li id="menu-item-489"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-489">
                                                    <a title="Home Page 6" href="#">Home
                                                        Page 6</a>
                                                </li>
                                                <li id="menu-item-531"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-531">
                                                    <a title="Home Page 7" href="#">Home
                                                        Page 7</a>
                                                </li>
                                                <li id="menu-item-579"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-579">
                                                    <a title="Home Page 8" href="#">Home
                                                        Page 8</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-208"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-208 submenu dropdown">
                                            <a title="Activity" href="#" data-toggle="dropdown"
                                                aria-haspopup="true">Activity <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-218"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-218 submenu dropdown">
                                                    <a title="Activity List" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Activity List</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-221"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                                                            <a title="Activity List With Sidebar" href="#">Activity
                                                                List With Sidebar</a>
                                                        </li>
                                                        <li id="menu-item-219"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219">
                                                            <a title="Activity List Without Sidebar" href="#">Activity
                                                                List Without Sidebar</a>
                                                        </li>
                                                        <li id="menu-item-220"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220">
                                                            <a title="Activity List With Grid" href="#">Activity
                                                                List With Grid</a>
                                                        </li>
                                                        <li id="menu-item-471"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471">
                                                            <a title="Activity List With Tabbed" href="#">Activity
                                                                List With Tabbed</a>
                                                        </li>
                                                        <li id="menu-item-487"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                                                            <a title="Activity List With Half Map" href="#">Activity
                                                                List With Half Map</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-268"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-268 submenu dropdown">
                                                    <a title="Activity Details" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Activity Details</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-269"
                                                            class="menu-item menu-item-type-post_type menu-item-object-tour menu-item-269">
                                                            <a title="Activity Details 1" href="#">Activity
                                                                Details 1</a>
                                                        </li>
                                                        <li id="menu-item-270"
                                                            class="menu-item menu-item-type-post_type menu-item-object-tour menu-item-270">
                                                            <a title="Activity Details 2" href="#">Activity
                                                                Details 2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-271"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-271 submenu dropdown">
                                                    <a title="Submit Activity" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Submit Activity</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-272"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-272">
                                                            <a title="Create Activity" href="#">Create
                                                                Activity</a>
                                                        </li>
                                                        <li id="menu-item-275"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
                                                            <a title="Edit Activity" href="#">Edit
                                                                Activity</a>
                                                        </li>
                                                        <li id="menu-item-274"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                                                            <a title="My Activities" href="#">My
                                                                Activities</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-276"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-276 submenu dropdown">
                                                    <a title="Activity Types" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Activity Types</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-279"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-279">
                                                            <a title="City Travel" href="#">City
                                                                Travel</a>
                                                        </li>
                                                        <li id="menu-item-280"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-280">
                                                            <a title="Food Drinks" href="#">Food
                                                                Drinks</a>
                                                        </li>
                                                        <li id="menu-item-281"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-281">
                                                            <a title="Cruise" href="#">Cruise</a>
                                                        </li>
                                                        <li id="menu-item-282"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-282">
                                                            <a title="Attraction" href="#">Attraction</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-277"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-277 submenu dropdown">
                                                    <a title="Group Types" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Group Types</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-283"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-group_types menu-item-283">
                                                            <a title="Special groups" href="#">Special
                                                                groups</a>
                                                        </li>
                                                        <li id="menu-item-284"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-group_types menu-item-284">
                                                            <a title="Adult groups" href="#">Adult
                                                                groups</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-278"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-278 submenu dropdown">
                                                    <a title="Service Types" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Service Types</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-285"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-285">
                                                            <a title="Easy Cancel" href="#">Easy
                                                                Cancel</a>
                                                        </li>
                                                        <li id="menu-item-286"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-286">
                                                            <a title="Pick-up" href="#">Pick-up</a>
                                                        </li>
                                                        <li id="menu-item-287"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-287">
                                                            <a title="Skip Line" href="#">Skip
                                                                Line</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-288"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-288 submenu dropdown">
                                                    <a title="Locations" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Locations</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-289"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-289">
                                                            <a title="Venice" href="#">Venice</a>
                                                        </li>
                                                        <li id="menu-item-290"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-290">
                                                            <a title="Rome" href="#">Rome</a>
                                                        </li>
                                                        <li id="menu-item-291"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-291">
                                                            <a title="Madrid" href="#">Madrid</a>
                                                        </li>
                                                        <li id="menu-item-292"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-292">
                                                            <a title="New York" href="#">New
                                                                York</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-434"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-434 submenu dropdown">
                                                    <a title="Languages" href="#" data-toggle="dropdown"
                                                        aria-haspopup="true">Languages</a>
                                                    <ul role="menu" class=" dropdown-menu clearfix">
                                                        <li id="menu-item-435"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-435">
                                                            <a title="English" href="#">English</a>
                                                        </li>
                                                        <li id="menu-item-436"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-436">
                                                            <a title="Italian" href="#">Italian</a>
                                                        </li>
                                                        <li id="menu-item-437"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-437">
                                                            <a title="Spanish" href="#">Spanish</a>
                                                        </li>
                                                        <li id="menu-item-438"
                                                            class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-438">
                                                            <a title="French" href="#">French</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-209"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209 submenu dropdown">
                                            <a title="Pages" href="#" data-toggle="dropdown" aria-haspopup="true">Pages
                                                <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-224"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224">
                                                    <a title="Agents" href="#">Agents</a>
                                                </li>
                                                <li id="menu-item-472"
                                                    class="menu-item menu-item-type-post_type menu-item-object-agent menu-item-472">
                                                    <a title="Agent" href="#">Agent</a>
                                                </li>
                                                <li id="menu-item-223"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223">
                                                    <a title="Agencies" href="#">Agencies</a>
                                                </li>
                                                <li id="menu-item-448"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
                                                    <a title="Pricing" href="#">Pricing</a>
                                                </li>
                                                <li id="menu-item-479"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-479">
                                                    <a title="FAQ" href="#">FAQ</a>
                                                </li>
                                                <li id="menu-item-226"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226">
                                                    <a title="Edit User Profile" href="#">Edit
                                                        User Profile</a>
                                                </li>
                                                <li id="menu-item-229"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229">
                                                    <a title="Register" href="#">Register</a>
                                                </li>
                                                <li id="menu-item-225"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225">
                                                    <a title="Change Password" href="#">Change
                                                        Password</a>
                                                </li>
                                                <li id="menu-item-227"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227">
                                                    <a title="Login" href="#">Login</a>
                                                </li>
                                                <li id="menu-item-228"guide
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228">
                                                    <a title="Logout" href="#">Logout</a>
                                                </li>
                                                <li id="menu-item-473"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-473">
                                                    <a title="404" href="#">404</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-210"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-210 submenu dropdown">
                                            <a title="Blog" href="#" data-toggle="dropdown" aria-haspopup="true">Blog
                                                <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-296"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                                    <a title="Blog 1" href="#">Blog
                                                        1</a>
                                                </li>
                                                <li id="menu-item-297"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297">
                                                    <a title="Blog 2" href="#">Blog
                                                        2</a>
                                                </li>
                                                <li id="menu-item-298"
                                                    class="menu-item menu-item-type-post_type menu-item-object-post menu-item-298">
                                                    <a title="Blog Details" href="#">Blog
                                                        Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-293"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-293 submenu dropdown">
                                            <a title="Guide" href="#" data-toggle="dropdown" aria-haspopup="true">Avis
                                                <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-294"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294">
                                                    <a title="Guides" href="#">Guides</a>
                                                </li>
                                                <li id="menu-item-295"
                                                    class="menu-item menu-item-type-post_type menu-item-object-agent menu-item-295">
                                                    <a title="Guide Details" href="#">Guide
                                                        Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-212"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212 submenu dropdown">
                                            <a title="Contact Us" href="#" data-toggle="dropdown"
                                                aria-haspopup="true">Contact Us <span class="caret"></span></a>
                                            <ul role="menu" class=" dropdown-menu clearfix">
                                                <li id="menu-item-390"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390">
                                                    <a title="Contact Us" href="#">Contact
                                                        Us</a>
                                                </li>
                                                <li id="menu-item-391"
                                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391">
                                                    <a title="Contact Us 2" href="#">Contact
                                                        Us 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>block body
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- /Mobile-Menu -->
                </div>
            </div>
        </div>
        <div class="header-menu-wrap clearfix">
            <div class="container">
                <div class="main-navigation  float-left">
                    <nav class="main-nav ul-li">

                        <ul id="primary-menu-mobile" class="navbar-nav text-capitalize clearfix">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-207 submenu dropdown">
                                <a title="Home" href="#" data-toggle="dropdown" aria-haspopup="true">Home <span
                                        class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-213">
                                        <a title="Home Page 1" href="#">Home
                                            Page 1</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-142 current_page_item menu-item-214 active">
                                        <a title="Home Page 2" href="index.html">Home Page 2</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215">
                                        <a title="Home Page 3" href="#">Home Page
                                            3</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216">
                                        <a title="Home Page 4" href="#">Home Page
                                            4</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217">
                                        <a title="Home Page 5" href="#">Home Page
                                            5</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-489">
                                        <a title="Home Page 6" href="#">Home Page
                                            6</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-531">
                                        <a title="Home Page 7" href="#">Home Page
                                            7</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-579">
                                        <a title="Home Page 8" href="#">Home Page
                                            8</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-208 submenu dropdown">
                                <a title="Activity" href="#" data-toggle="dropdown" aria-haspopup="true">Activity <span
                                        class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-218 submenu dropdown">
                                        <a title="Activity List" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Activity List</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221">
                                                <a title="Activity List With Sidebar" href="#">Activity
                                                    List With Sidebar</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219">
                                                <a title="Activity List Without Sidebar" href="#">Activity
                                                    List Without Sidebar</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220">
                                                <a title="Activity List With Grid" href="#">Activity
                                                    List With Grid</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471">
                                                <a title="Activity List With Tabbed" href="#">Activity
                                                    List With Tabbed</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487">
                                                <a title="Activity List With Half Map" href="#">Activity
                                                    List With Half Map</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-268 submenu dropdown">
                                        <a title="Activity Details" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Activity Details</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-tour menu-item-269">
                                                <a title="Activity Details 1" href="#">Activity
                                                    Details 1</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-tour menu-item-270">
                                                <a title="Activity Details 2" href="#">Activity
                                                    Details 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-271 submenu dropdown">
                                        <a title="Submit Activity" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Submit Activity</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-272">
                                                <a title="Create Activity" href="#">Create
                                                    Activity</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275">
                                                <a title="Edit Activity" href="#">Edit
                                                    Activity</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                                                <a title="My Activities" href="#">My
                                                    Activities</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-276 submenu dropdown">
                                        <a title="Activity Types" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Activity Types</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-279">
                                                <a title="City Travel" href="#">City
                                                    Travel</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-280">
                                                <a title="Food Drinks" href="#">Food
                                                    Drinks</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-281">
                                                <a title="Cruise" href="#">Cruise</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-activity_types menu-item-282">
                                                <a title="Attraction" href="#">Attraction</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-277 submenu dropdown">
                                        <a title="Group Types" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Group Types</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-group_types menu-item-283">
                                                <a title="Special groups" href="#">Special
                                                    groups</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-group_types menu-item-284">
                                                <a title="Adult groups" href="#">Adult
                                                    groups</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-278 submenu dropdown">
                                        <a title="Service Types" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Service Types</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-285">
                                                <a title="Easy Cancel" href="#">Easy
                                                    Cancel</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-286">
                                                <a title="Pick-up" href="#">Pick-up</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-service_types menu-item-287">
                                                <a title="Skip Line" href="#">Skip
                                                    Line</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-288 submenu dropdown">
                                        <a title="Locations" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Locations</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-289">
                                                <a title="Venice" href="#">Venice</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-290">
                                                <a title="Rome" href="#">Rome</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-291">
                                                <a title="Madrid" href="#">Madrid</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-292">
                                                <a title="New York" href="#">New
                                                    York</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-434 submenu dropdown">
                                        <a title="Languages" href="#" data-toggle="dropdown"
                                            aria-haspopup="true">Languages</a>
                                        <ul role="menu" class=" dropdown-menu clearfix">
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-435">
                                                <a title="English" href="#">English</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-436">
                                                <a title="Italian" href="#">Italian</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-437">
                                                <a title="Spanish" href="#">Spanish</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-taxonomy menu-item-object-languages menu-item-438">
                                                <a title="French" href="#">French</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209 submenu dropdown">
                                <a title="Pages" href="#" data-toggle="dropdown" aria-haspopup="true">Pages <span
                                        class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224">
                                        <a title="Agents" href="#">Agents</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-agent menu-item-472">
                                        <a title="Agent" href="#">Agent</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223">
                                        <a title="Agencies" href="#">Agencies</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
                                        <a title="Pricing" href="#">Pricing</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-479">
                                        <a title="FAQ" href="#">FAQ</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226">
                                        <a title="Edit User Profile" href="#">Edit
                                            User Profile</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229">
                                        <a title="Register" href="#">Register</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225">
                                        <a title="Change Password" href="#">Change
                                            Password</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227">
                                        <a title="Login" href="#">Login</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228">
                                        <a title="Logout" href="#">Logout</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-473"><a
                                            title="404" href="#">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-210 submenu dropdown">
                                <a title="Blog" href="#" data-toggle="dropdown" aria-haspopup="true">Blog <span
                                        class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296">
                                        <a title="Blog 1" href="#">Blog 1</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297">
                                        <a title="Blog 2" href="#">Blog 2</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-298">
                                        <a title="Blog Details" href="#">Blog
                                            Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-293 submenu dropdown">
                                <a title="Guide" href="#" data-toggle="dropdown" aria-haspopup="true">abcd <span
                                        class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294">
                                        <a title="Guides" href="{{ path('app_avis_new') }}">Avis</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-agent menu-item-295">
                                        <a title="Guide Details" href="{{ path('app_reclamation_new') }}">Reclamation</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212 submenu dropdown">
                                <a title="Contact Us" href="#" data-toggle="dropdown" aria-haspopup="true">Contact Us
                                    <span class="caret"></span></a>
                                <ul role="menu" class=" dropdown-menu clearfix">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390">
                                        <a title="Contact Us" href="#">Contact
                                            Us</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391">
                                        <a title="Contact Us 2" href="#">Contact Us
                                            2</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>
                </div>
                <div class="header-cart-login float-right p-0">
                    <div class="top-cart-login">
                        <button><i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                    <div class="top-cart-login">
                        <button data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user"></i></button>
                    </div>
                    <div class="top-submit">
                        <a href="{{ path('app_avis_new') }}"><i class="flaticon-add"></i>
                            Add tour</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

 
    {% block body %}
   

    {% endblock %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <footer class="footer-section style-two pt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <div class="">
                                <div class="textwidget">
                                    <p><a class="logo" href="index-2.html"><img
                                                src="{{asset('assets/uploads/2021/12/logo2.png')}}" alt="Logo" /><br />
                                        </a></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet perspiciatis sit
                                        voluptas quae</p>
                                </div>
                            </div>

                            <div class="">

                                <div class="top">
                                    <ul class="social-links">
                                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#" title="Pinterest"><i class="fab fa-pinterest"></i></a></li>
                                        <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-links">
                            <h3>Quick Links</h3>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li id="menu-item-306"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306">
                                        <a href="#">About</a>
                                    </li>
                                    <li id="menu-item-307"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307">
                                        <a href="#">Activities</a>
                                    </li>
                                    <li id="menu-item-308"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308">
                                        <a href="#">Contact
                                            Us</a>
                                    </li>
                                    <li id="menu-item-309"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li id="menu-item-310"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310">
                                        <a href="#">Register</a>
                                    </li>
                                    <li id="menu-item-453"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453">
                                        <a href="#">Guides</a>
                                    </li>
                                    <li id="menu-item-454"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-454">
                                        <a href="#">Flights</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">


                        <div class="">

                            <div class="footer-blog">
                                <h3> Blog And News </h3>

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-3.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">7
                                                Activities in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-2.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">5
                                                Things to Do in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->

                                <div class="inner">
                                    <ul class="align-items-center">
                                        <li>
                                            <img width="880" height="440"
                                                src="{{asset('assets/uploads/2021/12/blog-lrg-1.jpg')}}"
                                                class="attachment-large size-large wp-post-image" alt=""
                                                loading="lazy" />
                                        </li>
                                        <li>
                                            <a href="#">Places
                                                to See in Venice</a>
                                            <span>Tue Dec 7</span>
                                        </li>
                                    </ul>

                                </div><!-- /.activity-container -->


                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">

                        <div class="">
                            <div class="footer-contact">
                                <h3>Contact Information</h3>
                                <div class="top">
                                    <ul>
                                        <li>
                                            <i class="flaticon-maps-and-flags"></i>
                                            <a href="#">1489 3rd Ave, Newyork, USA</a>
                                            <span>Meet Us In Office</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-mail-3"></i>
                                            <a href="mailto:http://info@example.com">info@example.com</a>
                                            <span>Drop Us A Line</span>
                                        </li>
                                        <li>
                                            <i class="flaticon-clock-2"></i>
                                            <p>9 AM - 5 PM (Sun-Fri)</p>
                                            <span>Office Hour</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="bottom">
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:123 456 7890">123 456 7890</a>
                                    <span>Make A Call</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!-- Login-Sign Form -->
    <div class="modal login-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header position-relative">
                    <div class="login-head text-center pera-content">
                        <p>Lacinia at quis risus sed. Tempus egestas sed sed risus pretium quam vulputate dignissim.</p>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-signup-login-tab">
                        <div class="tab-pane-btn ul-li">
                            <ul id="tabs" class="nav text-center nav-tabs tab-pane-btn-area">
                                <li class="nav-item"><a href="#" data-target="#login" data-toggle="tab"
                                        class="nav-link text-capitalize active"><i class="far fa-user"></i> Login</a>
                                </li>
                                <li class="nav-item"><a href="#" data-target="#signUp" data-toggle="tab"
                                        class="nav-link text-capitalize"><i class="fa fa-key"></i> Sign Up</a></li>
                            </ul>
                        </div>
                        <div id="tabsContent" class="tab-content">
                            <div id="login" class="tab-pane fade active show">
                                <div class="login-content pera-content text-center">
                                    <form id="login_form" action="#" method="post">
                                        <input type="hidden" id="security" name="security" value="8f4b4250a3" /><input
                                            type="hidden" name="_wp_http_referer" value="/gootravel-wp/home-page-2/" />
                                        <input type="text" name="username" id="username"
                                            placeholder="Username or email">
                                        <input type="password" name="password" id="password" placeholder="Password">
                                        <p class="status"></p>
                                        <div class="login-label clearfix">
                                            <span><input type="checkbox">Remember me</span>
                                            <a href="index.html">Forget Password?</a>
                                        </div>
                                        <button type="submit" name="login" class="submit_button">Submit</button>
                                    </form>
                                    <p>Don't have any account? <a href="#">Signup</a></p>
                                </div>
                            </div>
                            <div id="signUp" class="tab-pane fade">
                                <div class="sign-up-content pera-content text-center">
                                    <form id="signUp_form" action="#" method="post">
                                        <input type="hidden" id="signonsecurity" name="signonsecurity"
                                            value="f35fd9212c" /><input type="hidden" name="_wp_http_referer"
                                            value="/gootravel-wp/home-page-2/" />
                                        <input type="text" placeholder="First Name">
                                        <input type="text" placeholder="Last Name">
                                        <input type="email" placeholder="Email address">
                                        <input id="signonname" type="text" name="signonname" placeholder="Username">
                                        <input type="password" placeholder="Password">
                                        <input id="signonpassword" name="signonpassword" type="password"
                                            placeholder="Confirm password">
                                        <p class="status"></p>
                                        <div class="login-label clearfix">
                                            <span><input type="checkbox">By clicking signup you are agree to our terms
                                                of service</span>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                    <p>Already have an account? <a href="#">Log in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>



    <script type='text/javascript'
        src="{{asset('assets/plugins/traveltime/libraries/jquery-google-map/markerclusterer080f.js?ver=5.8.2')}}"
        id='markerclusterer-js'></script>
    <script type='text/javascript'
        src="{{asset('assets/plugins/traveltime/libraries/mapescape/js/mapescape080f.js?ver=5.8.2')}}"
        id='mapescape-js'></script>


    <script type='text/javascript'
        src="{{asset('assets/plugins/traveltime/libraries/jquery-google-map/jquery-google-map91b6.js?ver=0.8.6')}}"
        id='jquery-google-map-js'></script>


    <script type='text/javascript' src="{{asset('assets/plugins/traveltime/assets/js/traveltime1576.js?ver=1.2.1')}}"
        id='traveltime-js'></script>

    <script type='text/javascript' src="{{asset('assets/plugins/traveltime/assets/js/favorite-it080f.js?ver=5.8.2')}}"
        id='favorite-it-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/dist/vendor/regenerator-runtime.minb36a.js?ver=0.13.7')}}"
        id='regenerator-runtime-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/dist/vendor/wp-polyfill.min2c7c.js?ver=3.15.0')}}"
        id='wp-polyfill-js'></script>


    <script type='text/javascript'
        src="{{asset('assets/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min8811.js?ver=2.7.0-wc.6.0.0')}}"
        id='jquery-blockui-js'></script>
    <script type='text/javascript'
        src="{{asset('assets/plugins/woocommerce/assets/js/js-cookie/js.cookie.mineff6.js?ver=2.1.4-wc.6.0.0')}}"
        id='js-cookie-js'></script>

    <script type='text/javascript'
        src="{{asset('assets/plugins/woocommerce/assets/js/frontend/woocommerce.minaf8e.js?ver=6.0.0')}}"
        id='woocommerce-js'></script>

    <script type='text/javascript'
        src="{{asset('assets/plugins/woocommerce/assets/js/frontend/cart-fragments.minaf8e.js?ver=6.0.0')}}"
        id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/popper.min.js')}}"
        id='popper-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/bootstrap.min.js')}}"
        id='bootstrap-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/appear.js')}}"
        id='appear-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/wow.min.js')}}" id='wow-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/jquery.fancybox.js')}}"
        id='jquery.fancybox-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/owl.js')}}" id='owl-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/isotope.pkgd.min.js')}}"
        id='isotope.pkgd-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/imagesloaded.pkgd.min.js')}}"
        id='imagesloaded.pkgd-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/masonry.pkgd.min.js')}}"
        id='masonry.pkgd-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/jquery.nice-select.min.js')}}"
        id='jquery.nice-select-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/typer.js')}}" id='typer-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/starrr.js')}}"
        id='starrr-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/quantity-input.js')}}"
        id='quantity-input-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/moment.min.js')}}"
        id='moment-min-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/daterangepicker.js')}}"
        id='daterangepicker-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/imagesloaded.mineda1.js?ver=4.1.4')}}"
        id='imagesloaded-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/masonry.min3a05.js?ver=4.2.2')}}" id='masonry-js'></script>
    <script type='text/javascript' src="{{asset('assets/themes/gootravel/assets/js/custom.js')}}"
        id='gootravel-script-js'></script>
    <script type='text/javascript' src="{{asset('assets/js/wp-embed.min080f.js?ver=5.8.2')}}" id='wp-embed-js'></script>
    {% block javascripts %}

    {% endblock %}
</body>

</html>