{% extends 'baseFront.html.twig' %}


{% block body %}

<section id="breadcrumb" class="breadcrumb-section position-relative"
    data-background="{{asset('assets/uploads/2021/12/banner.jpg')}}"
    style="background-image: url('{{asset('assets/uploads/2021/12/banner.jpg')}}');">
    <span class="breadcrumb-overlay position-absolute"></span>
    <div class="container">
        <div class="breadcrumb-content text-center headline">
            <h2>Register</h2>
            <div class="breadcrumb-item ul-li">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>


                    <li class="breadcrumb-item active">Register</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="signup-area">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-lg-2">
                <div class="sign-wrapper white-bg">
                    <div class="sign-form">

                        {{ form_start(userform, {'attr':{'novalidate':'novalidate'}}) }}
                            <div class="sign-input-wrapper">
                                <h5>CIN</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.cin, { 'attr' : { 'placeholder' : ' enter votre cin' } }) }}
                                    {{ form_errors(userform.cin) }}
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Nom</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.nomUser, { 'attr' : { 'placeholder' : 'enter votre nom' } }) }}
                                    <i class="far fa-envelope"></i>
                                     {{ form_errors(userform.nomUser) }}

                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Prenom</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.prenomUser, { 'attr' : { 'placeholder' : 'enter votre prenom' } }) }}
                                    {{form_errors(userform.prenomUser)}}
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Telephone</h5>
                                <div class="sign-input">
                                     {{ form_widget(userform.telUser, { 'attr' : { 'placeholder' : 'enter votre téléphone' } }) }}
                                     {{form_errors(userform.telUser)}}
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Adresse</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.adresseUser, { 'attr' : { 'placeholder' : 'enter votre adresse' } }) }}
                                    {{form_errors(userform.adresseUser)}}
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Password</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.mdpUser, { 'attr' : { 'placeholder' : 'enter votre password' } }) }}
                                    {{form_errors(userform.mdpUser)}}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>
                            

                            <div class="sign-input-wrapper">
                                <h5>Email</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.emailUser, { 'attr' : { 'placeholder' : 'enter votre email' } }) }}
                                    {{form_errors(userform.emailUser)}}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>

                            <div class="sign-input-wrapper">
                                <h5>Voiture</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.voiture, { 'attr' : { 'placeholder' : 'enter la marque de votre voiture' } }) }}
                                    {{form_errors(userform.voiture)}}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>

                            <div class="sign-input-wrapper">
                                <h5>Image</h5>
                                <div class="sign-input">
                                    {{ form_widget(userform.image, { 'attr' : { 'placeholder' : 'Please enter a valid image' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>



                            <button type="submit" class="signup-btn w-100" name="register_form">Sign Up</button>

                            <div class="sign-new text-center">
                                <p>Already a member <a href="#">Sign In</a></p>
                            </div>
                        {{ form_end(userform) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}