{% extends 'baseBack.html.twig'%}
{% block body %}

     
                        {{ form_start(UpdateForm) }}
                            <div class="sign-input-wrapper">
                                <h5>CIN</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.cin, { 'attr' : { 'placeholder' : 'Please enter a valid cin' } }) }}
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Nom</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.nomUser, { 'attr' : { 'placeholder' : 'Please enter a valid nom' } }) }}
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Prenom</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.prenomUser, { 'attr' : { 'placeholder' : 'Please enter a valid nom' } }) }}
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Telephone</h5>
                                <div class="sign-input">
                                     {{ form_widget(UpdateForm.telUser, { 'attr' : { 'placeholder' : 'Please enter a valid tel' } }) }}
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Adresse</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.adresseUser, { 'attr' : { 'placeholder' : 'Please enter a valid adresse' } }) }}<i class="fas fa-mobile-alt"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Password</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.mdpUser, { 'attr' : { 'placeholder' : 'Please enter a valid password' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>
                            <div class="sign-input-wrapper">
                                <h5>Role</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.role, { 'attr' : { 'placeholder' : 'Please enter a valid role' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>

                            <div class="sign-input-wrapper">
                                <h5>Email</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.emailUser, { 'attr' : { 'placeholder' : 'Please enter a valid email' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>

                            <div class="sign-input-wrapper">
                                <h5>Voiture</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.voiture, { 'attr' : { 'placeholder' : 'Please enter a valid voiture' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>

                            <div class="sign-input-wrapper">
                                <h5>Image</h5>
                                <div class="sign-input">
                                    {{ form_widget(UpdateForm.image, { 'attr' : { 'placeholder' : 'Please enter a valid image' } }) }}
                                    <i class="far fa-clone"></i>
                                </div>
                            </div>



{% endblock %}